@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Arimo';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/brittany-signature');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container .top{
    margin-bottom: 50px;
}
.container .top .raag{
    font-size: 28px;
    text-align: center;
    /* background-color: red; */
    letter-spacing: 9px;
    word-spacing: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}
.container .top .addr{
    font-size:12px;
    text-align: center;
    font-family: 'Arimo', sans-serif
}
.container .top .top1{
    display:flex;
    justify-content: space-between;
    width:99vw;
    margin-top: 10px;
    margin-bottom: 30px;
    padding:0px 15px 0px 15px;
    font-family: 'Montserrat', sans-serif;
}
.container .top .top2{
    display:flex;
    width:99vw;
    justify-content: space-between;
    padding:0px 15px 0px 15px;
    font-family: 'Montserrat', sans-serif;
}
.container .mid .table1{
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(6,auto);
    /* background-color: blue; */
    width:98.99vw;
    height: 300px;
    /* background-color: yellow; */
    /* margin-bottom: 10px; */
    /* justify-items: center; */
    font-family: 'Montserrat', sans-serif;
}
.container .mid .table1 .head{
    height: 50px;
    width:19.798vw;
    /* background-color: yellow; */
    /* row-gap: 0.5px; */
    border-top:3px solid black;
    border-bottom:2px solid black;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 700;

}
.container .mid .table1 .item{
    height:50px;
    width:19.798vw;
    /* background-color: red;*/
    border-top:1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 13px;
    /* background-color: red; */
    font-size: 12px;
}
.container .mid .table1 .tb1{
    width:29.697vw;
}
.container .mid .table1 .tb2{
    width: 9.899vw;
}
.container .mid .table2{
    display: grid;
    grid-template-columns: repeat(2,auto);
    /* background-color: brown; */
    width:98.99vw;
    height:150px;
    font-family: 'Montserrat', sans-serif;
}
.container .mid .table2 .left{
    border-bottom: 2px solid black;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width:49.99vw;
}
.container .mid .table2 .right{
    display:grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    border-left:2px solid black;
    font-size: 14px;
    font-weight: 700;
    width:49vw;
}
.container .mid .table2 .left .pay{
    padding-bottom:10px;
    /* padding-left: 30px; */
    font-size: 14px;
    font-weight: 700;
}
.container .mid .table2 .right .item{
    border-bottom: 2px solid black;
    text-align: center;
    padding:6px;
}
.container .mid .table2{
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}
.container .bottom{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}
.container .bottom .qr{
    font-size: 30px;
    /* background-color: red; */
    display: flex;
    width: 300px;
    height:100px;
    justify-content: flex-end;
    /* padding: 50px 10px 0px 8px; */
    align-items: center;
}
.container .bottom .sign{
    /* background-color: yellow; */
    width: 300px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding:50px 0px 0px 80px; */
    padding-right: 15px;
}
.container .bottom .sign .space{
    /* background-color: blue; */
    border-bottom: 2px dotted black;
    margin-bottom: 8px;
    font-family: 'Brittany Signature', sans-serif;
    color: green;
    font-size: 24px;
}
.footer{
    text-align: center;
    word-spacing: 4px;
    margin-top: 30px;
    font-size: 12px;
}
.container .top .top1 .topleft1{
    font-size: 10px;
    font-weight: 700;
}
.container .top .top1 .rightleft1{
    text-align: right;
    font-weight: 700;
    font-size: 12px;
}
.container .top .top1 .topleft2{
    font-size: 11px;
}
.container .top .top1 .rightleft2{
    text-align: right;
    font-size: 11px;
}
.container .top .top2 .topleft1{
    font-weight: 700;
    font-size: 12px;
}
.container .top .top2 .rightleft1{
    text-align: right;
    font-weight: 700;
    font-size: 12px;
}
.container .top .top2 .topleft2{
    font-size: 11px;
}
.container .top .top2 .rightleft2{
    text-align: right;
    font-size: 11px;
}
.container .mid .table2 .left .card{
    font-size: 10px;
    font-weight: 700;
    padding-right: 55px;
}
.container .mid .table2 .left .cid{
    font-size: 9px;
    padding-right: 70px;
}
.footer{
    font-family: 'Poppins', sans-serif;
}
.footer .try{
    font-weight: 700;
}
.container .bottom .sign .name{
    font-size: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.container .bottom .sign .desg{
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
}